body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;

  /*herdando a cor do pai*/
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1160px;
  margin: 0px auto;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  display: inline-block;
  padding: 20px 0px;
  color: #ffffff;
  font-size: 1.125rem;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a:after {
  position: absolute;
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

.start-bg {
  background-color: #000000;
  color: #ffffff;
  box-shadow: inset 0px -120px #ffffff;
}

.start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1160px;
  margin: 0px auto;
  padding: 20px;
}

.start-container {
  align-self: center;
  padding-bottom: 200px;
}

.start-container h1 {
  margin-bottom: 32px;
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins";
  font-weight: 600;
}

.start-container p {
  margin-bottom: 30px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
  font-family: "Roboto";
  font-weight: 400;
}

.start-container span {
  color: #ffbb00;
}

.start-container a {
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 16px 32px;
  border-radius: 5px;
  color: #332200;
  font-weight: bold;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

.start-container a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.start img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/*Media Queries Introducao*/
@media (max-width: 1200px) {
  .start-container h1 {
    font-size: 3rem;
  }
  .start-container p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .start-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .start {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .start-container {
    padding-bottom: 0px;
  }
  .start-container h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .start-container p {
    margin-bottom: 16px;
  }
  .start img {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .start-container a {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

/*Media Queries Header*/
@media (max-width: 800px) {
  .header {
    gap: 20px;
  }
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 5px;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    gap: 20px;
  }
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.875rem;
  }
}

@media (max-width: 300px) {
  .header {
    flex-direction: column;
  }
  .header-menu {
    flex-direction: column;
  }
}
