.start-bg {
  background-color: var(--c-12);
  box-shadow: inset 0px -120px var(--c-0);
}

.start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.start-container {
  align-self: center;
  padding-bottom: 200px;
}

.start-container h1 {
  margin-bottom: 32px;
}

.start-container p {
  margin-bottom: 30px;
}

.start img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .start-bg {
    background: var(--c-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--c-0);
  }
  .start {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .start-container {
    padding-bottom: 0px;
  }
  .start-container h1 {
    margin-bottom: 16px;
  }
  .start-container p {
    margin-bottom: 16px;
  }
  .start img {
    height: 300px;
    width: 100%;
  }
}
